{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <p><a href="https://plus.google.com/+PratyushSrivastava">Google-Plus</a></p><br>
            <p><a href="https://github.com/1994newbie">Github</a></p><br>
            <p><a href="#">LinkedIn</a></p><br>
            <p><a href="https://angel.co/pratyush-srivastava-9?public_profile=1">Angellist</a></p><br>
        </div>
    </div>

{% endblock %}