{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main2.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="jumbotron text-center">
            <p>https://plus.google.com/+PratyushSrivastava</p><br>
            <p>https://github.com/1994newbie</p><br>
            <p><a href="#">LinkedIn</a></p><br>
            <p><a href="#">LinkedIn</a></p><br>
        </div>
    </div>

{% endblock %}